body {
    font-family: arial;
}

/* Estilos de la tabla y botones */
.tabla-reservas {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f4f6f7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.tabla-reservas th {
    background-color: #3085d6; 
    color: white;
    padding: 15px;
    font-size: 18px;
}
.tabla-reservas td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #333;
}
.tabla-reservas tr:nth-child(even) { background-color: #f9f9f9; }

/* Contenedor para los botones en cada fila */
.btn-contenedor {
    display: flex;
    gap: 5px;
}

/* Estilos individuales para cada botón */
.btn-llegada {
    background-color: #28a745; /* Verde para "Marcar Llegada" */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-llegada:hover {
    background-color: #218838;
}

.btn-salida {
    background-color: #ffc107; /* Amarillo para "Marcar Salida" */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-salida:hover {
    background-color: #e0a800;
}

.btn-inasistencia {
    background-color: #dc3545; /* Rojo para "Marcar Inasistencia" */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-inasistencia:hover {
    background-color: #c82333;
}

.contenedor-listado {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 40px auto;
}
.titulo-listado {
    font-size: 24px;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn-contenedor {
    display: flex;
    gap: 10px;
}

.btn-llegada, .btn-salida, .btn-inasistencia {
    padding: 5px 10px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.btn-llegada {
    background-color: #4caf50; /* Verde */
}

.btn-salida {
    background-color: #2196f3; /* Azul */
}

.btn-salida[disabled] {
    background-color: #ccc; /* Gris deshabilitado */
    pointer-events: none;
}

.btn-inasistencia {
    background-color: #f44336; /* Rojo */
}