/* Estilos básicos */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

table thead {
  background-color: #333;
  color: #fff;
}

table th,
table td {
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tbody tr:hover {
  background-color: #e9e9e9;
}

/* Estilos de los botones */
.btn-ver-detalles,
.btn-modificar,
.btn-eliminar {
  padding: 8px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-ver-detalles {
  background-color: #007bff;
}

.btn-ver-detalles:hover {
  background-color: #0056b3;
}

.btn-modificar {
  background-color: #28a745;
}

.btn-modificar:hover {
  background-color: #218838;
}

.btn-eliminar {
  background-color: #dc3545;
}

.btn-eliminar:hover {
  background-color: #c82333;
}

/* Estilos de botones SweetAlert personalizados */
.swal2-confirm.btn-ver-mas {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.swal2-confirm.btn-ver-mas:hover {
  cursor: pointer;
  background-color: #49af00;
}

.swal2-cancel {
  background-color: #f44336;
  color: #fff;
}

/* Botón Agregar Socio */
.btn-agregar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;
  display: block;
  text-align: center;
  width: fit-content;
}

.btn-agregar:hover {
  background-color: #0056b3;
}

#tabla-container {
  width: 90%;
  margin: auto;
}

/* Paginación */
#paginacion-container {
  display: flex;
  justify-content: center;
  margin: 14px;
}

.pagina-boton {
  background-color: #009879; /* Verde deportivo */
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagina-boton:hover {
  background-color: #007a63; /* Verde más oscuro */
}

.pagina-activa {
  background-color: #007a63; /* Verde más oscuro */
  color: #ffffff;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
}
