{% extends 'partials/modals/generic.html.twig' %}

{% set title = 'Agregar Tipo de Contacto' %}
{% set id_modal = 'modificar_modal' %}
{% set id_form = 'modificar_form' %}
{% set action = base_url ~ '/tablas-maestras/tipo-de-contactos' %}
{% set button_text = 'Agregar' %}
{% set method = 'PUT' %}

{% block modal_body %}
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion-txt" name="descripcion">
    </div>
{% endblock %}