/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

form h1 {
  text-align: center;
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 0;
  width: 100%;
}

/* Form Styles */
form {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #2ecc71;
  display: flex;
  flex-wrap: wrap;
}

form fieldset {
  border: 1px solid #2ecc71;
  border-radius: 6px;
  padding: 20px;
  width: 44%;
}

form legend {
  font-size: 1.2rem;
  color: #27ae60;
  font-weight: bold;
}

/* Label and Data Display */
form label {
  display: block;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 5px;
}

form h3 {
  margin: 5px 0 15px;
  padding: 8px;
  background-color: #ecf0f1;
  border-radius: 4px;
  font-size: 1rem;
  color: #2c3e50;
}

/* Modify Button */
.modificar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modificar button {
  background: none;
  border: none;
  padding: 10px 6px;
  border-radius: 60%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modificar button:hover {
  background: #a4de92;
  transform: scale(1.05);
}

/* Change Password Link */
.modificarcontrasena {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.modificarcontrasena button {
  border: none;
  cursor: pointer;
  background-color: #9b59b6;
  color: white;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.modificarcontrasena button:hover {
  background-color: #8e44ad;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  fieldset {
    padding: 15px;
  }

  form h1 {
    font-size: 1.5rem;
  }

  .modificar a {
    font-size: 0.8rem;
  }

  form label,
  form h3 {
    font-size: 0.9rem;
  }
}
